<p id="notice"><%= notice %></p>

<h1>Prisons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Banner url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prisons.each do |prison| %>
      <tr>
        <td><%= prison.name %></td>
        <td><%= prison.banner_url %></td>
        <td><%= link_to 'Show', prison %></td>
        <td><%= link_to 'Edit', edit_prison_path(prison) %></td>
        <td><%= link_to 'Destroy', prison, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prison', new_prison_path %>
